/****** Main Style Sheet ******/

body {
	background-color: #dfdfdf;
/*	font-family: 'Text Me One', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;*/
	padding: 25px;
}

#outer-container {
	margin: 0 auto;
	text-align: center;
}

;

/* NAVIGATION */
#logo {
	background-image: url('somewhere.jpg');
	background-repeat: no-repeat;
}


/* Sprite 
 { 
	color: #2D2D2D;
 background-position: 0 -70px;
 } */




